<section class="section container-fluid scrollable scrollable-content" ng-swipe-right='Ui.turnOn("uiSidebarLeft")' ui-scroll-bottom="loadMore()" ng-controller="AccountsController" overflow:auto>

    <h2 class="sub-header">Accounts</h2>

    	<div class="container">	
			<h3 class="col-xs-12 col-sm-8 col-md-6"><center>Your Sold</center></h3>
		</div>
		
		</br>
		
		<div class="container">	
			<h4>You have : <span ng-style="color({{solde}})">{{sold}} €     
				<button ng-click="toggle()" class="btn btn-primary" toggle="toggle" target="transferts">Details</button>
			</h4>
			<div ng-show="isVisible" class="ng-hide">
				<table class="table col-xs-12" ng-controller="NewsController">

					<thead>
						<tr>
							<th>Amount</th>
							<th>Roommate</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="transfer in Liste">
							<td>{{pay(transfer)}}</td>
							<td><p ng-style="color(transfer)">{{transfer.dette}} €</p></td>		
							<td><button ng-click="deleteTransfer(transfer)" type="submit" class="btn btn-primary">{{text(transfer)}}</button></td>
						</tr>
					</tbody>
				</table>
  				
			</div> 
			
		</div>

		</br>

		<div class="container">	
			<!--<h4>Did you reimburse someone ?</h4>

			<form class="form-inline">

				<div class="row">

  					<div class="col-xs-6">
  						<div class="input-group">
   							<input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount"ng-model="transfer2.amount">
    						<div class="input-group-addon">€</div>
						</div>
 				 	</div>

  					<div class="col-xs-2">
    					<i class="fa fa-chevron-circle-right fa-2x"></i>
  					</div>	

  					<div class="col-xs-4 input-group">
  						<select class="form-control input-xs" ng-repeat="roomate in Liste2" ng-model="transfer2.mate">
    						<option>{{roomate.nom_utilisateur}}</option>
    					</select>
    
					</div>

				</div>

				</br>

  				<div class="row text-center">
    				<button ng-click="newTransfer(transfer2)" type="submit" class="btn btn-primary center-block">Announce reimbursement</button>
  				</div>

			</form> -->

			<h4>Do you have to be reimbursed ? </h4>

			<form class="form-signin" method="POST" name="AccountsForm" role="form">
				<button ng-click="newSpending()" class="btn btn-lg btn-primary btn-block" type="submit">Publish your spending !</button>
			</form>

		</div>

</section>


   
 


