<section class="section container-fluid scrollable scrollable-content" ng-swipe-right='Ui.turnOn("uiSidebarLeft")' ui-scroll-bottom="loadMore()" ng-controller="GroceriesController" overflow:auto>

    <h2 class="sub-header">Groceries</h2>
	<div class="table-responsive">

		<table class="table" data-toggle="table" data-cache="false" data-click-to-select="true" data-single-select="true">

			<thead>
				<tr>
					<th>Missing items</th>
				</tr>
			</thead>
			<tbody>
		  
				<tr ng-repeat="items in Liste">
					<td>{{items.nom}}</td> <!-- TO COMPLETE -->
				</tr>
				
			</tbody>
		</table>

	</div>

		</br>
		</br>

		<p class="form-signin-heading">Is an item missing in your flat ?</p>

		<form class="form-signin" method="POST" name="GroceriesForm" role="form">
			<input type="text" id="pseudo" class="form-control" placeholder="Missing product" size="30" maxlength="30" ng-model="product.name" required autofocus>
			</br>
			<div ng-show="SignUpForm.$submitted || form.mail.$touched">
			</div>
			</br>
			<button ng-click="add(product)" class="btn btn-lg btn-primary btn-block" type="submit">Add this product</button>
		</form>

		</br>

		<p class="form-signin-heading">You bought all the groceries, empty the shopping list !</p>

		<form class="form-signin" method="POST" name="GroceriesForm" role="form">
			<button ng-click="delete()" class="btn btn-lg btn-primary btn-block" type="submit">Empty</button>
		</form>



</section>


   
 


