
<section class="section container-fluid scrollable scrollable-content" ng-swipe-right='Ui.turnOn("uiSidebarLeft")' ui-scroll-bottom="loadMore()" ng-controller="MyflatController">

  <center><h2 class="sub-header"> My Flat: {{myflatname}} !</h2></center>

      <table class="table col-xs-8">
        <thead>
          <tr>
            <th>Mates</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="roommate in Liste">
           <td>{{roommate.nom_utilisateur}}</td>
          </tr>
        </tbody>
      </table>
      <h3> Want to add a new Roommate ?</h3>

      <h4> Give us his email !</h4>
      <form class="form-signin" method="POST" name="AddMateForm" role="form">
        <label for="mail" class="sr-only">Email address</label>
        <p>  
          <input type="email" class="form-control" id="mail" placeholder="flatmate@room8.com" size="30" maxlength="50" ng-model="mate.mail"required>
          <div ng-show="AddMateForm.$submitted || form.mail.$touched">
            <span ng-show="AddMateForm.mail.$error.required">Tell us his email</span>
            <span ng-show="AddMateform.mail.$error.email">This is not a valid email</span>
          </div>
          <button ng-click="add(mate)" type="submit" class="btn btn-lg btn-primary btn-block">Send</button>
        </p>
      </form>
</section>


   
 


