
<section class="section container-fluid scrollable scrollable-content" ng-swipe-right='Ui.turnOn("uiSidebarLeft")' ui-scroll-bottom="loadMore()" overflow:auto>

	<h2 class="sub-header">News Feed</h2>
	<div class="table-responsive" ng-controller="NewsController">
		<table class="table" data-toggle="table" data-cache="false" data-click-to-select="true" data-single-select="true">
			
			<thead>
				<tr>
					<th>Date</th>
					<th>News</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="new in Liste">
					<td>{{new.date}}</td>
					<td>{{new.text}}</td>
				</tr>
			</tbody>

		</table>
	</div>a

</section>


   
 


