
<section class="section container-fluid scrollable scrollable-content" ng-swipe-right='Ui.turnOn("uiSidebarLeft")' ui-scroll-bottom="getAllNews()" ng-controller="NewsController">

    <center><h2 class="sub-header">News Feed </h2></center>

    <h3>Waiting acknoledgement</h3>
    <table class="table col-xs-8">

		<thead>
			<tr>
				<th>User</th>
				<th>Paid me :</th>
				<th></th>
			</tr>
		</thead>
		<tbody>	  
			<tr ng-repeat="debt in Liste2">
				<td>{{debt.nomDoit}}</td>
				<td><span id='number-default'>{{debt.enAttente | number:2}}</span> €</td>
				<td><a class="btn btn-primary" ng-click="ackDebt(debt)"> 
										<i class="fa fa-check-circle fa-"></i>I've been paid</a></td>
			</tr>				
		</tbody>
	</table>

    <h3>News</h3>
	<table class="table col-xs-8">

		<thead>
			<tr>
				<th>Date</th>
				<th>News</th>
			</tr>
		</thead>
		<tbody>	  
			<tr ng-repeat="new in Liste">
				<td>{{new.date}}</td>
				<td>{{new.text}}</td>
			</tr>				
		</tbody>
	</table>
			
</section>



