<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <title>Room8</title>
    </head>

    <body>
        <div id="bloc_page">
            <div class="registration">
                	<h1>Bienvenue sur Room8 !</h1>
                  <h2>Serais-tu un nouveau ? Inscris-toi alors !</h2>
            </div>	

            <form method="POST" action="" class="new" role="form">
    				<p>
     			        <label for="Pseudo">Nom :</label>
       			    	<input type="text" name="pseudo" id="pseudo" placeholder="Pseudo" size="30" maxlength="10" required/>
                  </br>

                  <label for="Mail">Adresse mail :</label>
                  <input type="email" name="mail" id="mail" placeholder="" size="30" maxlength="10" required/>
                  </br>

                  <label for="pass">Ton mot de passe :</label>
                  <input type="password" name="pass" id="pass" placeholder="Password" required/>

       						<input type="submit" value="Envoyer" />
   				   </p>
				    </form>


            <div class="login">
                  <h1>Tu es déjà venu ici ? Connecte-toi !</h1>
            </div>  
					
					 <form method="POST" action="" class="signin" role="form">
            <p>
              
                  <label for="Mail">Adresse mail :</label>
                  <input type="email" name="mail" id="mail" placeholder="" size="30" maxlength="10" required/>
                  </br>

                  <label for="pass">Ton mot de passe :</label>
                  <input type="password" name="pass" id="pass" placeholder="Password" required/>

                  <input type="submit" value="Envoyer" />
             </p>
            </form>
            
        </div>

        
    </body>
</html>