<section class="section container-fluid scrollable scrollable-content" ng-controller="RegistrationController"ng-swipe-right='Ui.turnOn("uiSidebarLeft")' ui-scroll-bottom="loadMore()" overflow:auto>
	
			<section class="row">	
				<h2 class="col-xs-12 col-sm-8 col-md-6"><center>Welcome to </br><i>Room8</i></center></h2>
			</section>
				<h4><center>Are you new? Sign up then!</center></h4>

				<form class="form-signin" method="POST" name="SignUpForm" role="form">
					<label for="pseudo" class="sr-only">Pseudo</label>
					Pseudo
					<input type="text" id="pseudo" class="form-control" placeholder="Pseudo" size="30" maxlength="30" ng-model="dataUser.nom" required autofocus>
					</br>
					<label for="mail" class="sr-only">Email address</label>
					Email address
					<input type="email" class="form-control" id="mail" placeholder="flatmate@room8.com" size="30" maxlength="50" ng-model="dataUser.mail"required>
					<div ng-show="SignUpForm.$submitted || form.mail.$touched">
						<span ng-show="SignUpForm.mail.$error.required">Tell us your email.</span>
						<span ng-show="SignUPform.mail.$error.email">This is not a valid email.</span>
					</div>
					</br>
					<label for="pass" class="sr-only">Password</label>
					Password
					<input type="password" id="pass" class="form-control" placeholder="Password" ng-model="dataUser.password" name="password"  required>
					</br>
					<label for="pass" class="sr-only">Confirm Password</label>
					Confirm Password
					<input type="password" id="pass" class="form-control" placeholder="Password" ng-model="dataUser.confirmPassword" data-match="dataUser.password"  required>
					</br>
					<button ng-click="create(dataUser)" class="btn btn-lg btn-primary btn-block" type="submit" >Sign up</button>
				</form>
			</div> 
			</br>
			<div class="container">
				<h4><center>It is not your first time here? Sign in!</center></h4>
				<form class="form-signin" method="GET" name="SignInForm" role="form">
					<label for="inputPseudo" class="sr-only">Pseudo</label>
					Pseudo
					<input type="text" id="inputPseudo" class="form-control" placeholder="Pseudo"  ng-model="User.pseudo"required>
					</br>
				    <label for="inputPassword" class="sr-only">Password</label>
				    Password
					<input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="User.password" required>
					</br>
					<button ng-click="connect(User)" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
				</form> 
			</div>
		</div>
	</div>
 </section>



