<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="../static/design.css" />
    <title>Room8</title>
  </head>
    
  <body>
    <div ng-controller="RegistrationController">
      <div id="bloc_page" >
        
        <div class="registration">
          <h1>Welcome to Room8 !</h1>
          <h2>Are you new ? Sign up then!</h2>
        </div>	
        <form  method="POST" name="SignUpForm" class="new" role="form" >
	    	  <p>
	     		  <label for="Pseudo">Name :</label>
	       		<input type="text" name="pseudo" id="pseudo" placeholder="Pseudo" size="30" maxlength="10" ng-model="dataUser.nom" required/>
	          </br>
	
	          <label for="Mail">Mail :</label>
	          <input type="email" name="mail" id="mail" placeholder="" size="30" maxlength="50" ng-model="dataUser.mail"required/>
	          <div ng-show="SignUpForm.$submitted || form.mail.$touched">
						  <span ng-show="SignUpForm.mail.$error.required">Tell us your email.</span>
							<span ng-show="SignUPform.mail.$error.email">This is not a valid email.</span>
					  </div>
	          </br>
	
	          <label for="pass">Password:</label>
	          <input type="password" name="pass" id="pass" placeholder="Password" ng-model="dataUser.password" required/>
	
	       		<input type="submit" value="Sign up" ng-click="update(dataUser)" />
	       		<!--Pour tester-->
	       		<pre>form= "{{dataUser | json}}"</pre>
            <!-- -->
	   			</p>
				</form>

        <div class="login">
          <h1>Already member ? Sign in!</h1>
        </div>  	
			  <form method="POST" action="" class="signin" role="form">
          <p>
            <label for="Mail">Mail :</label>
            <input type="email" name="mail" id="mail" placeholder="" size="30" maxlength="10" required/>
            </br>

            <label for="pass">Password :</label>
            <input type="password" name="pass" id="pass" placeholder="Password" required/>

            <input type="submit" value="Sign in" />
          </p>
        </form>

      </div>
    </div>    
  </body>

</html>
