<section class="section container-fluid scrollable scrollable-content" ng-controller="ScanController"ng-swipe-right='Ui.turnOn("uiSidebarLeft")' ui-scroll-bottom="loadMore()">
	
			<h2 class="sub-header">Scan </h2>
			<button camera ng-model='myPicture'class="btn btn-primary">Take Picture</button>


	<button camera onclick="capturePhoto()">Prendre une photo</button> <br>
    <button camera onclick="capturePhotoEdit();">Prendre une photo et l'éditer</button> <br>
    <button camera onclick="getPhoto(pictureSource.PHOTOLIBRARY);">Depuis la gallerie de photos</button><br>
    <button camera onclick="getPhoto(pictureSource.SAVEDPHOTOALBUM);">Depuis l'album photo</button><br>
  
	<ul ng-repeat="onepic in myPictures">
		<li style="list-style: none">
			<input type="image" src="{{onepic}}"  width="250" height="390" alt="error"/>
		</li>
	</ul>

 </section>



