<section class="section container-fluid scrollable scrollable-content" ng-swipe-right='Ui.turnOn("uiSidebarLeft")' ui-scroll-bottom="loadMore()" overflow:auto>

	<div class="container-fluid" ng-controller="SettingController">
		<h1>Your Profile</h1>
	
	
		<form class="form-signin" method="POST" name="ChangeProfile" role="profile">
			<label for="pseudo" class="sr-only">Pseudo</label>
			<input type="text" id="pseudo" class="form-control" size="30" maxlength="30" ng-model="User.nom_utilisateur" required>
			</br>
			<label for="mail" class="sr-only">Email address</label>
			<input type="email" class="form-control" id="mail" size="30" maxlength="50" ng-model="User.adresse_mail"required>
			
			<div ng-show="SignUpForm.$submitted || form.mail.$touched">
				<span ng-show="SignUpForm.mail.$error.required">Tell us your email.</span>
				<span ng-show="SignUPform.mail.$error.email">This is not a valid email.</span>
			</div>
			
			</br>
			<label for="pass" class="sr-only">Password</label>
			<input type="password" id="mot_de_passe" class="form-control" ng-model="User.mot_de_passe" required>
			</br>
			
			
			
			
			</br>
			<button ng-click="update(User)" class="btn btn-lg btn-primary btn-block" type="submit" >Change</button> 
			</br>
			<button ng-click="refresh()" type="submit" class="btn btn-lg btn-primary btn-block">Cancel</button>
			</br>
			<button ng-click="leaveFlat()" ng-confirm-box-click="Do you really want to leave your flat?" class="btn btn-lg btn-primary btn-block" type="submit" >Leave my flat</button>
			</br>
		</form>
	
	</div> 
	</br>

</section>
