<h1 class="app-name">Room8</h1>

<div class="scrollable" ng-controller="MainController">
  <h1 class="scrollable-header app-name">Room8</h1>  
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a class="list-group-item" href="#/Newsfeed">NewsFeed<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" href="#/MyFlat">My Flat<i class="fa fa-chevron-right pull-right"></i></a>  
	  <a class="list-group-item" href="#/Accounts">Accounts<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" href="#/Chat">Chat<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" href="#/Money">Money<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" href="#/Groceries">Groceries<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" href="#/Settings">Settings<i class="fa fa-chevron-right pull-right"></i></a>
	  <a ng-click="logout()"class="list-group-item">Logout</a>
    </div>
  </div>
</div>


