<section class="section container-fluid scrollable scrollable-content" ng-swipe-right='Ui.turnOn("uiSidebarLeft")' ui-scroll-bottom="loadMore()" ng-controller="SpendingController" overflow:auto>

    <center><h2 class="sub-header">Spending</h2></center>

		<form class="form-signin" method="POST" name="SpendingForm" role="form">
			
			<p class="form-signin-heading">How much did you pay ? </p>

			<div class="col-xs-5 input-group">
				<label class="sr-only" for="exampleInputAmount">Amount (in euros)</label>
    			<input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount" ng-model='amount'>
    			<div class="input-group-addon">€</div>
    		</div>

			</br>

			<p class="form-signin-heading">Select the roommates who are concerned. </p>

			<table class="table col-xs-5">

				<tbody>	  
					<tr>
						<td>
							<label>
								<input type="checkbox" ng-model="master">
							</label>
							Check all
						</td>
					</tr>

					<tr ng-repeat="roommate in Liste" ng-if="roommate.id_utilisateur != user">
						<td><input type="checkbox" checklist-model="mate" checklist-value="roommate.id_utilisateur" ng-checked="master" aria-label="Slave input"/> {{roommate.nom_utilisateur}}</td>
					</tr>
									
				</tbody>

			</table>

			</br>

			<button ng-click="newTransfer(mate, amount)" class="btn btn-lg btn-primary btn-block" type="submit">Publish !</button>
		</form>



</section>

 


